
body {
    background-color: lightblue;
    margin:0;
    padding:0;
    height:100%;
}

html {
    margin:0;
    padding:0;
    height:100%;
}

.container {
    background-color: white;
    padding-right:0;
    padding-left:0;
    margin-right:auto;
    margin-left:auto;
    min-height: 100%;
    position:relative;
}

.container-fluid {
    padding-right:0;
    padding-left:0;
    margin-right:auto;
    margin-left:auto;
 }

 .content {
    padding-right:15px;
    padding-left:15px;
    margin-right:auto;
    margin-left:auto;
    padding-bottom: 60px;
 }

 .footer {
    background-color: #e8e8e8;
    color: #777;
    padding:15px;
    margin-right:auto;
    margin-left:auto;
    height: 60px;
    position:absolute;
    bottom:0;
    width: 100%;
 }

 .title {
    text-align: center;
    font-size: 60px;
    font-family: "Helvetica", Times, sans-serif;
    color: navy;
    margin-bottom: 0px;
 }

 .title2 {
    text-align: center;
    font-size: 40px;
    font-family: "Helvetica", times, sans-serif;
    color: darkred;
    margin-top: 0px;
 }

 .title3 {
    text-align: center;
    font-size: 20px;
    font-family: "Helvetica", times, sans-serif;
    font-style: italic;
    color: darkblue;
    margin-top: 0px;
 }

 .left {
    float: left;
 }

 .right {
    float: right;
 }

.content-header {
    font-size: 40;
    color: navy;
    padding: 5px;
    padding-left: 20px;
    width: 84%;
}

.object-div {
    padding: 10px;
}

.grey-back {
    background-color: #dddddd;
}

a:link, a:visited {
    color: #000000;
 }

a:hover, a:active {
    color: #444444;
    text-decoration: none;
}

a.footerlink:link, a.footerlink:visited {
    color: #777;
 }

a.footerlink:hover, a.footerlink:active {
    color: navy;
    text-decoration: none;
}

.info-page {
    font-size: 18;
}

.new-button {
    height: 50px;
    font-size: 16;
    width: 150px;
}

.edit-button {
    height: 38px;
    font-size: 16;
    width: 150px;
}

.login-form {
    width:60%;
    display:inline-block;
}

.parent-div {
    text-align: center;
}

.buffer {
    padding: 20px;
}

.move-left {
    width: auto;
    box-shadow: none;
  }

.checkbox {
    text-align: left;
}